/* ========== ALL ========== */


body {
    width: 100%;
    height: 100%;
    max-width: 1920px;
    font-size: 16px;
    font-weight: 500;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p, a {
    padding: 0;
    margin: 0;
}

a, div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format('ttf');
    font-weight: 300;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format('ttf');
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format('ttf');
    font-weight: 500;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format('ttf');
    font-weight: 600;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format('ttf');
    font-weight: 700;
}

@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron-Regular.ttf") format('truetype');
    /*font-weight: 400;*/
}

.block_content {
    min-height: calc(100vh - 142px);
}

.unlink_class {
    text-decoration: none;
    color: inherit;
}

.page_in_dev {
    background-image: url("../img/page_in_dev.jpg");
    width: 100%;
    height: calc(100vh - 142px);
    background-repeat: no-repeat;
    background-position: center;
}

.page_in_dev-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    color: #A27D29;
    white-space: nowrap;
}

@media (max-width: 1400px) {
    .block_content {
        min-height: calc(100vh - 142px);
    }
}

@media (max-width: 992px) {
    .block_content {
        margin-top: 70px;
        min-height: calc(100vh - 204px);
    }
    .page_in_dev {
        height: calc(100vh - 204px);
    }
}


/* ========== HEADER ========== */


#menu_mobile {
    z-index: 1;
}

.menu_desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #203354;
    padding: 25px 100px;
}

.menu_el-doc-head {
    display: flex;
    flex-direction: column;
    position: relative;
}

.menu_el-doc_block {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #203354;
    top: 40px;
    left: -25px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s;
}

.menu_el-doc-head:hover {
    cursor: pointer;
}

.menu_el, .menu_el-sub, .menu_mobile-body-menu_el {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #A27D29;
}

.menu_el:hover, .menu_el-sub:hover {
    color: #bdaa7e;
}

.menu_el-sub {
    padding: 15px 25px;
}

#menu_mobile {
    display: none;
}

@media (max-width: 992px) {
    #menu_desktop {
        display: none;
    }
    #menu_mobile {
        display: block;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .menu_mobile {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .menu_mobile-head {
        display: flex;
        flex-direction: row;
        height: 70px;
        align-items: center;
        background-color: #203354;
    }
    .menu_mobile-head-text {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: #A27D29;
        text-transform: uppercase;
    }
    .menu_mobile-head_link {
        flex: 1;
        text-align: center;
        margin-right: 70px;
    }
    .nav_icon-mobile {
        width: 40px;
        height: 25px;
        position: relative;
        margin: 0px 15px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    .nav_icon-mobile span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #A27D29;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;
    }
    .nav_icon-mobile span:nth-child(1) {
        top: 0px;
    }
    .nav_icon-mobile span:nth-child(2),
    .nav_icon-mobile span:nth-child(3) {
        top: 10px;
    }
    .nav_icon-mobile span:nth-child(4) {
        top: 20px;
    }
    .nav_icon-mobile.open span:nth-child(1) {
        top: 10px;
        width: 0%;
        left: 50%;
    }
    .nav_icon-mobile.open span:nth-child(2) {
        transform: rotate(45deg);
    }
    .nav_icon-mobile.open span:nth-child(3) {
        transform: rotate(-45deg);
    }
    .nav_icon-mobile.open span:nth-child(4) {
        top: 10px;
        width: 0%;
        left: 50%;
    }
}


/* ========== FOOTER ========== */


.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #203354;
    padding: 25px 100px;
}

.footer_text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
}

.unlink_class_footer {
    text-decoration: none;
    color: inherit;
}

.unlink_class_footer:hover {
    color: #bdaa7e;
}

.footer_mail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer_mail_img {
    width: 20px;
    margin-right: 10px;
}

@media (max-width: 992px) {
    .footer {
        flex-direction: column;
        padding: 25px;
    }
    .footer_block_mob {
        margin-bottom: 15px;
    }
}


/* ========== STANDARDS ========== */


.standards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 80px auto;
    justify-content: space-evenly;
}

.standards-ann {
    margin: 40px auto;
    padding-left: 40px;
}

.standards-ann_text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #192b45;
}

.stardards-table_title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #192b45;
    text-align: center;
    margin-bottom: 20px;
}

.standards-table_div {
    /*white-space: nowrap;*/
    /*overflow-x: scroll;*/
    /*overflow-y: hidden;*/
}

.standards-table_div > table {
    border-collapse: collapse;
    border: 0;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
}

.standards-table_div > table > tbody > tr > th {
    color: white;
    text-align: start;
    padding: 10px;
    background-color: #092942;
}

.standards-table_div > table > tbody > tr > td {
    padding: 3px 10px;
}

.standards-table_div > table > tbody > tr {
    /*background-color: #D5A94F;*/
    /*color: white;*/
    background-color: white;
    color: #092942;
}

.standards-table_div > table > tbody > tr:nth-child(2n) {
    /*background-color: white;*/
    /*color: #092942;*/
    background-color: #D5A94F;
    color: white;
}

.standards-table_div > table > tbody > tr > th:nth-child(1) {
    border-top-left-radius: 8px;
}

.standards-table_div > table > tbody > tr > th:nth-last-child(1) {
    border-top-right-radius: 8px;
}

.standards-table_div > table > tbody > tr:nth-last-child(1) > td:nth-child(1) {
    border-bottom-left-radius: 8px;
}

.standards-table_div > table > tbody > tr:nth-last-child(1) > td:nth-last-child(1) {
    border-bottom-right-radius: 8px;
}

@media (max-width: 1000px) {
    .standards {
        gap: 20px;
        margin: 110px auto 40px;
    }

    .stardards-table_title {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .standards-table_div > table {
        font-size: 12px;
        line-height: 16px;
    }

    .standards-table_div > table > tbody > tr > th {
        padding: 3px;
    }

    .standards-table_div > table > tbody > tr > td {
        padding: 2px 3px;
    }
    .standards-ann {
        margin: 20px auto;
        padding-left: 5px;
        padding-right: 5px;
    }
    .standards-ann_text {
        font-size: 10px;
        line-height: 14px;
    }
}


/* ========== PRIVACY ========== */


.privacy {
    margin: 80px 40px;
}

.privacy-head {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #192b45;
    margin-bottom: 40px;
}

.privacy-body_title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
    margin-bottom: 20px;
    margin-top: 20px;
}

.privacy-body_text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
}

@media (max-width: 1000px) {
    .privacy {
        margin: 110px 10px 40px;
    }

    .privacy-head {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 20px;
    }

    .privacy-body_title {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .privacy-body_text {
        font-size: 12px;
        line-height: 14px;
    }
}


/* ========== COMPETITIONS ========== */


.competitions {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 40px;
}

.competition_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 10px;
    align-items: center;
}

.competition_block:hover {
    box-shadow: 0 1px 10px #828282;
}

.competition_block-text {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
    text-align: center;
}

.competition_block-btn {
    background-color: #092942;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-appearance: none;
}

.competition_block-btn:hover {
    background-color: #A27D29;
    border-color: #A27D29;
    cursor: pointer;
}

.competition_block-btn:disabled {
    background-color: #828282;
}

.competition_block-btn:disabled:hover {
    border-color: #828282;
    cursor: unset;
}

@media (max-width: 1000px) {
    .competitions {
        gap: 20px;
        margin: 110px 20px 40px;
    }
    .competition_block {
        /*gap: 5px;*/
        padding: 10px;
        border-radius: 8px;
    }
    .competition_block-text {
        font-size: 14px;
        line-height: 18px;
    }
    .competition_block-btn {
        font-size: 12px;
        line-height: 16px;
        padding: 5px 10px;
        border-radius: 8px;
    }
}


/* ========== COMPETITION_ENTRY ========== */


.competition_entry {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 80px 40px;
}

.competition_entry-title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #192b45;
    text-align: center;
}

.competition_entry-content {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
    text-align: start;
    width: 50%;
    margin: 0 auto;
}

.competition_entry-form_title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
    text-align: center;
}

.competition_entry-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 50%;
    margin: 0 auto;
}

.competition_entry-form_gender {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.competition_entry-form_gender-block {
    margin-left: auto;
}

.competition_entry-form_gender-title, .competition_entry-form_gender-label, .competition_entry-form_sur-label {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
}

.competition_entry-form_gender-label:hover, .competition_entry-form_gender-input:hover {
    cursor: pointer;
}

.competition_entry-form_gender-input-fem {
    margin-left: 20px;
}

.competition_entry-form_gender-input {
    position: relative;
    height: 15px;
    width: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}

.competition_entry-form_gender-input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #092942;
}

.competition_entry-form_gender-input:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #092942;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.competition_entry-form_sur {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.competition_entry-form_sur-input {
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #192b45;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #192b45;
    outline: none;
}

.competition_entry-form_sur-input::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #b3b3b3;
}

.competition_entry-form_sur-input:focus {
    box-shadow: 0 1px 10px #828282;
}

.competition_entry-form_birthday-input {
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #192b45;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #192b45;
    outline: none;
}

.competition_entry-form_birthday-input:focus {
    box-shadow: 0 1px 10px #828282;
}

#competition_entry-form_wcat-f-label, #competition_entry-form_wcat-f {
    display: none;
}

.competition_entry-form_wcat {
    padding: 10px 20px;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #192b45;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid #192b45;
    outline: none;
}

.competition_entry-form_wcat:focus {
    box-shadow: 0 1px 10px #828282;
}

.competition_entry-form_sp-t_block {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    gap: 5px;
}

.competition_entry-form_sp-t_block_chck {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.competition_entry-form_sp-t_chckbx {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #192b45;
    width: 24px;
    height: 25px;
    cursor: pointer;
    position: relative;
    font-weight: 300;
}

.competition_entry-form_sp-t_chckbx::before {
    /*content: "🗸";*/
    content: url("../img/Checkmark.svg");
    color: #192b45!important;
    width: 30px;
    font-size: 24px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    transition: .1s ease-in;
}

.competition_entry-form_sp-t_chckbx:checked::before {
    opacity: 1;
}

.competition_entry-form_sur-label-chck {
    margin-left: 5px;
}

.competition_entry-form_sur-label-chck:hover {
    cursor: pointer;
}

.competition_entry-form_sur-bpekip, .competition_entry-form_sur-bp, .competition_entry-form_sur-pwlekip, .competition_entry-form_sur-pwlclass {
    display: none;
}

.competition_entry-form_sur-input:hover, .competition_entry-form_wcat:hover, .competition_entry-form_birthday-input:hover {
    cursor: pointer;
}

.competition_entry-form_btn {
    background-color: #092942;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-appearance: none;
}

.competition_entry-form_btn:hover {
    background-color: #A27D29;
    border-color: #A27D29;
    cursor: pointer;
}

.competition_entry-form_send {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 20px auto;
}

.competition_entry-form_subtitle {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #192b45;
    text-align: center;
}

.competition_entry-form_agree-block {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}

.competition_entry-form_agree-label {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #192b45;
    margin-left: 5px;
}

.competition_entry-form_agree-label:hover {
    cursor: pointer;
}

.competition_entry-form_agree-label_unlink {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.competition_entry-form_agree-chck {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #192b45;
    min-width: 14px;
    height: 15px;
    cursor: pointer;
    position: relative;
    font-weight: 300;
}

.competition_entry-form_agree-chck::before {
    /*content: "🗸";*/
    content: url("../img/Checkmark.svg");
    color: #192b45!important;
    width: 15px;
    font-size: 15px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    transition: .1s ease-in;
}

.competition_entry-form_agree-chck:checked::before {
    opacity: 1;
}

.competition_form_modal {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.competition_form_modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: center;
    margin: auto;
    padding: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #23395D;
    border-radius: 5px;
    width: fit-content;
    max-width: 50%;
}

.competition_form_modal-close {
    position: absolute;
    top: -5%;
    right: 0;
    color: #23395D;
    padding-bottom: 5px;
    align-self: end;
    font-size: 40px;
    font-weight: 600;
}

.competition_form_modal-close:hover {
    cursor: pointer;
}

.competition_form_modal-text {
    margin: 20px;
}

@media (max-width: 1000px) {
    .competition_entry {
        gap: 20px;
        margin: 110px 20px 40px;
    }
    .competition_entry-title {
        font-size: 18px;
        line-height: 22px;
    }
    .competition_entry-content {
        font-size: 14px;
        line-height: 18px;
        width: 95%;
    }
    .competition_entry-form_title {
        font-size: 16px;
        line-height: 20px;
    }
    .competition_entry-form_subtitle {
        font-size: 10px;
        line-height: 16px;
    }
    .competition_entry-form {
        width: 95%;
        gap: 25px;
    }
    .competition_entry-form_gender-title, .competition_entry-form_gender-label, .competition_entry-form_sur-label {
        font-size: 16px;
        line-height: 20px;
    }
    .competition_entry-form_sur-input {
        max-width: 140px;
    }
    .competition_entry-form_send {
        width: 95%;
    }
    .competition_entry-form_agree-label {
        font-size: 10px;
        line-height: 14px;
    }
    .competition_form_modal-content {
        padding: 5px;
        font-size: 16px;
        line-height: 20px;
    }
    .competition_form_modal-close {
        top: -1%;
    }
    .competition_form_modal-text {
        margin: 13px;
    }
}


/* ========== COMPETITION_LIST ========== */


.competitors_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px 40px 80px;
    /*margin: 80px 40px;*/
    /*align-items: center;*/
}

.competitors_list-title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #192b45;
    text-align: center;
    margin-top: 60px;
}

.competitors_list-cat_title {
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #192b45;
    text-align: center;
}

.competitors_list_table {
    border: none;
    border-collapse: collapse;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    text-align: center;
    /*display: flex;*/
    overflow: auto;
    white-space: nowrap;
    /*justify-content: center;*/
    width: 100%;
}

.competitors_list_table-ober {
    overflow: auto;
}

.competitors_list_table > tbody > tr > th {
    color: white;
    text-align: center;
    padding: 10px;
    background-color: #092942;
}

.competitors_list_table > tbody > tr > td {
    padding: 5px;
}

.competitors_list_table > tbody > tr {
    color: #092942;
    text-align: center;
    background-color: white;
}

.competitors_list_table > tbody > tr > th:nth-child(1) {
    border-top-left-radius: 8px;
}

.competitors_list_table > tbody > tr > th:nth-last-child(1) {
    border-top-right-radius: 8px;
}

.competitors_list_table > tbody > tr:nth-child(2n) {
    background-color: #d9d9d9;
    color: #092942;
}

.competitors_list_table > tbody > tr:nth-last-child(1) > td:nth-child(1) {
    border-bottom-left-radius: 8px;
}

.standards-table_div > tbody > tr:nth-last-child(1) > td:nth-last-child(1) {
    border-bottom-right-radius: 8px;
}

@media (max-width: 1000px) {
    .competitors_list {
        gap: 20px;
        margin: 70px 20px 40px;
    }
    .competitors_list-title {
        font-size: 18px;
        line-height: 22px;
    }
    .competitors_list-cat_title {
        font-size: 16px;
        line-height: 20px;
    }
    .competitors_list_table {
        font-size: 14px;
        line-height: 18px;
    }
}


/* ========== SECRETARY_PAGE ========== */


.secr-page_span-click:hover {
    cursor: pointer;
    color: #5373a1;
}

.secr-page_before-span-block {
    display: none;
}

.secr-page_before-span-block_ok {
    margin-top: 3px;
    background-color: #092942;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #092942;
}

.secr-page_before-span-block_no {
    background-color: #d94f4f;
    color: white;
    border-radius: 5px;
    outline: none;
    border: 1px solid #d94f4f;
}

.secr-page_before-span-block_ok:hover, .secr-page_before-span-block_no:hover {
    cursor: pointer;
}

.secr-page_show_btn-p, .secr-page_show_btn-s {
    width: fit-content;
    margin: 5px auto;
    padding: 5px 15px;
    border-radius: 10px;
    background-color: #092942;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#secretary-page_form, .secr-page_show_btn-s {
    display: none;
}

.secr-page_show_btn-p:hover, .secr-page_show_btn-s:hover {
    cursor: pointer;
}

.secr-page_show_btn_play {
    border-style: solid;
    border-width: 6px 0 6px 13px;
    border-color: transparent transparent transparent wheat;
}

.secr-page_show_btn_stop {
    border-style: solid;
    border-width: 6px;
    border-color: wheat;
}

.form-secretary_stream-btn {
    display: none;
}

.form-secretary_stream-select {
    margin: 15px;
}

.secretary-page_link {
    text-decoration: none;
    color: wheat;
}

.form-secretary_stream-select {
    background-color: #092942;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
}

.form-secretary_stream-select > option {
    background-color: #FFFFFF;
    color: #092942;
}

.form-secretary_stream-select:hover {
    cursor: pointer;
}

.title_descr-stream {
    margin-left: 15px;
    margin-bottom: 10px;
}

.secretary-competitors-protocols_table {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-collapse: collapse;
}

.secretary-competitors-protocols_table > tbody > tr > th {
    border: 1px solid #FFFFFF;
}

.secretary-competitors-protocols_table > tbody > tr > td {
    border: 1px solid #092942;
    text-align: center;
}

.secretary-competitors-protocols_table-title {
    background-color: #092942;
    text-align: center;
    color: #FFFFFF;
}

.secretary-page_counter-sports-type {
    display: none;
}

.secr-page_fio-span, .secr-page_fio-span-bp, .secr-page_fio-span-ek, .secr-page_fio-span-bpek {
    cursor: pointer;
}

.secr-page_fio-span:hover, .secr-page_fio-span-bp:hover, .secr-page_fio-span-ek:hover, .secr-page_fio-span-bpek:hover {
    color: #5373a1;
}

.row-form_buttons {
    display: flex;
    flex-direction: column;
}

.row-form_buttons-mar {
    margin-top: 5px;
}

.secr-page_form-btn {
    padding: 3px 15px;
    border-radius: 5px;
    background-color: #092942;
    border: none;
    color: white;
}

.secr-page_form-btn:hover {
    background-color: #5373a1;
    cursor: pointer;
}

.row-buttons {
    border: none!important;
}

.margin-form-btn {
    margin-top: 5px;
}

.secr-page_chckbx {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 4px;
    border: 1px solid #092942;
    width: 18px;
    height: 19px;
    cursor: pointer;
    position: relative;
    font-weight: 700;
}

.secr-page_chckbx::before {
    content: "🗸";
    color: #092942!important;
    font-size: 18px;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    opacity: 0;
    transition: .1s ease-in;
}

.secr-page_chckbx:checked::before {
    opacity: 1;
}

.secr-page_chckbx-label:hover {
    cursor: pointer;
}

.secr-page_chckbx-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secr-page_chckbx-label {
    font-family: Montserrat, sans-serif;
    font-size: 9px;
    line-height: 14px;
}

.secretary-competitors-protocols_table-tr-form {
    display: none;
}

.secr-page_input-numb {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
}


/* ========== SCOREBOARD_PAGE ========== */


.score-form {
    display: none;
}

.ind_scoreboard {
    /*height: 100vh;*/
    height: 100%;
    /*width: 100vw;*/
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    /*display: flex;*/
    display: none;
    flex-direction: column;
    /*padding: calc(20px + 1vw);*/
    /*padding: 30px;*/
    justify-content: space-between;
}

.ind_scoreboard-wcat_score {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    /*padding: 40px;*/
}

.ind_scoreboard-wcat_score-text {
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: calc(16px + 2vw);
    /*font-size: 55px;*/
    /*padding-left: 20px;*/
}

.ind_scoreboard-wcat_score-text-score {
    border: 5px solid white;
    border-radius: 50%;
    background-color: red;
    width: 7vw;
    height: 7vw;
    margin-right: 6vw;
    /*margin-right: 40px;*/
}

.ind_scoreboard-wcat_score-text-score-block {
    display: flex;
    flex-direction: row;
}

.ind_scoreboard-fi {
    font-family: Montserrat, sans-serif;
    color: #fcfc9e;
    font-weight: 600;
    font-size: calc(16px + 4vw);
    /*margin-top: calc(20px + 3vw);*/
    /*margin-top: 75px;*/
    text-align: center;
}

.ind_scoreboard-type-weight {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /*margin-top: calc(20px + 3vw);*/
    padding: 2vw;
    /*padding: 40px;*/
}

.ind_scoreboard-appr {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    /*padding: 1vw;*/
    padding: 0.5vw 0.5vw 0.5vw 2vw;
}

.ind_scoreboard-appr_weight {
    font-family: Montserrat, sans-serif;
    color: white;
    font-weight: 500;
    font-size: calc(12px + 2vw);
    margin: 0.5vw;
    padding: 1vw;
    border: 5px solid white;
    border-radius: 2vw;
}

#ind_scoreboard-appr_weight-1, #ind_scoreboard-appr_weight-2, #ind_scoreboard-appr_weight-3 {
    display: none;
}

.ind_scoreboard-appr_weight-take {
    background-color: green;
}

.ind_scoreboard-appr_weight-nottake {
    background-color: red;
}

.ind_scoreboard-appr_weight-cur {
    background-color: #b7b7b7;
}

.ind_scoreboard-type-weight_type {
    font-family: Montserrat, sans-serif;
    color: #FFFFFF;
    font-weight: 500;
    font-size: calc(16px + 2vw);
}

.ind_scoreboard-type-weight_weight {
    font-family: Montserrat, sans-serif;
    color: #fcfc9e;
    font-weight: 700;
    font-size: calc(16px + 6vw);
}

.timer-scoreboard {
    font-family: Orbitron, sans-serif;
    color: #fcfc9e;
    /*font-weight: 400;*/
    font-size: calc(16px + 8vw);
    text-align: center;
    /*margin-top: auto;*/
    padding: 2vw;
    /*padding: 40px;*/
}

.mass_scoreboard-table {
    margin: 0 auto;
    background-color: #FFFFFF;
    border-collapse: collapse;
    width: 100%;
    font-family: Montserrat, sans-serif;
    /*font-size: calc(20px + 0.1vw);*/
    /*max-height: 100vh!important;*/
    /*height: 100vh!important;*/
}

.mass_scoreboard-table > tbody > tr > th {
    border: 1px solid #FFFFFF;
}

.mass_scoreboard-table > tbody > tr > td {
    border: 1px solid #092942;
    text-align: center;
}

.mass_scoreboard-table-title {
    background-color: #092942;
    text-align: center;
    color: #FFFFFF;
}


/* ========== COMPETITION_PROTOCOL ========== */


.competition_protocol-dwnld-btn {
    background-color: #092942;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-appearance: none;
}

.competition_protocol-dwnld-btn:hover {
    background-color: #A27D29;
    border-color: #A27D29;
    cursor: pointer;
}

.competition_protocol-dwnld-btn:disabled {
    background-color: #828282;
}

.competition_protocol-dwnld-btn:disabled:hover {
    border-color: #828282;
    cursor: unset;
}

.competition_protocol-dwnld-block {
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}

@media (max-width: 1000px) {
    .competition_protocol-dwnld-btn {
        font-size: 12px;
        line-height: 16px;
        padding: 5px 10px;
        border-radius: 8px;
    }
    .competition_protocol-dwnld-block {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}


/* ========== REGISTER_PARTICIPANT_PAGE ========== */


.register_part_page-title {
    margin: 15px auto;
    text-align: center;
}

.register_part_page-participants_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 30px auto;
    width: fit-content;
}

.register_part_page-participant_block {
    padding: 20px;
    margin: 5px;
    border: 1px solid #192b45;
    border-radius: 15px;
    text-decoration: none;
    color: black;
}

.register_part_page-participant_block:hover {
    box-shadow: 0 1px 10px #828282;
}

.register_part_page-search_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.register_part_page-filter_block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.register_part_page-filter_block-gen {
    border: 1px solid #192b45;
    padding: 15px 30px;
    border-radius: 15px;
    color: white;
    background-color: #192b45;
    font-weight: 700;
    margin-right: 10px;
}

#register_part_page-filter_block-wcat-male, #register_part_page-filter_block-wcat-female {
    display: none;
}

.register_part_page-filter_block-gen:hover {
    cursor: pointer;
}

.register_part_page-participants_cnt {
    margin-left: 15px;
}

.register_part_page-competitors_cnt {
    margin-left: 15px;
}

.register_part_page-filter_block-btn {
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #192b45;
}

.register_part_page-filter_block-btn:hover {
    box-shadow: 0 1px 10px #828282;
    cursor: pointer;
}

.register_part_page-add_new {
    text-decoration: none;
    border: 1px solid #192b45;
    padding: 15px 30px;
    border-radius: 15px;
    color: white;
    background-color: #192b45;
    font-weight: 700;
}

.register_part_page-add_new:hover {
    box-shadow: 0 1px 10px #828282;
}

.register_part_page-search {
    margin-left: 15px;
    border-radius: 15px;
    padding: 15px;
    font-size: 16px;
}

.register_part_page-search:hover {
    cursor: pointer;
}

.register_part_page-search_btn {
    margin-left: 15px;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #192b45;
}

.register_part_page-search_btn:hover {
    box-shadow: 0 1px 10px #828282;
    cursor: pointer;
}

.register_part_page-search_cls {
    margin-left: 15px;
    border-radius: 15px;
    padding: 15px 30px;
    font-size: 16px;
    color: white;
    background-color: #d94f4f;
    border: 1px solid #d94f4f;
}

.register_part_page-search_cls:hover {
    box-shadow: 0 1px 10px #828282;
    cursor: pointer;
}

.competition_registry-form_squat, .competition_registry-form_bpress, .competition_registry-form_dlift {
    display: none;
}

.competition_registry-form_send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.competition_entry-form_del {
    background-color: #d94f4f;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 10px;
    -webkit-appearance: none;
    border: 1px solid #d94f4f;
}

.competition_entry-form_del:hover {
    box-shadow: 0 1px 10px #828282;
    cursor: pointer;
}

.modal_are-u-sure {
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal_are-u-sure_content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    align-self: center;
    padding: 20px;
    margin: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-radius: 5px;
    max-width: 400px;
}

.modal_are-u-sure_close {
    position: absolute;
    top: 0;
    right: 0;
    color: #192b45;
    padding-bottom: 5px;
    align-self: end;
    font-size: 40px;
    font-weight: 600;
}

.modal_are-u-sure_close:hover {
    cursor: pointer;
}

.modal_are-u-sure-text {
    margin: 10px;
}

.modal_are-u-sure-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.modal_are-u-sure_yes {
    background-color: #192b45;
    border: 1px solid #192b45;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px;
    color: white;
    border-radius: 10px;
    width: fit-content;
}

.modal_are-u-sure_yes:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #828282;
}

.modal_are-u-sure_no {
    background-color: white;
    border: 1px solid #192b45;
    outline: none;
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    padding: 10px 20px;
    margin: 5px;
    color: #192b45;
    border-radius: 10px;
    width: fit-content;
}

.modal_are-u-sure_no:hover {
    cursor: pointer;
    background-color: white;
}

.modal_are-u-sure_no:active {
    background-color: white;
}

.modal_are-u-sure {
    display: none;
}