{% load static %}
{#Дата создания и ссылка с копирайтом, кем разработан, контакты(пока только почта)#}
<section id="footer">
    <div class="footer">
        <p class="footer_text footer_block_mob">© {% now 'Y' %} <a href="{% url 'home' %}" class="unlink_class_footer">powerlifting-kirov.ru</a> | <a href="{% url 'privacy' %}" class="unlink_class_footer">Политика конфиденциальности</a></p>
        <p class="footer_text footer_block_mob">sponsored by  <a href="https://vk.com/prosport.kirov" class="unlink_class_footer" target="_blank">Спортивный центр "proSPORT"</a></p>
        <p class="footer_text footer_block_mob">developed by  <a href="https://amtrend.ru" class="unlink_class_footer" target="_blank">amtrend.ru</a></p>
        <a href="mailto:info@powerlifting-kirov.ru" target="_blank" class="unlink_class_footer unlink_class_footer-mail"><div class="footer_mail">
            <img src="{% static 'img/mailico.svg' %}" alt="mailico.svg" class="footer_mail_img">
            <p class="footer_text footer_text-mail">info@powerlifting-kirov.ru</p>
        </div>
        </a>
    </div>
</section>