{% extends 'base.html' %}
{% load static %}
{% block title %}Соревнования{% endblock %}
{% block content %}
    <section id="competitions">
        <div class="competitions">
            {% for comp in competitions %}
                <div class="competition_block">
                    <p class="competition_block-text">{{ comp.start_date }}{% if comp.end_date %} - {{ comp.end_date }}{% endif %}</p>
                    <p class="competition_block-text">{{ comp.title|capfirst }}
                        <br>
                        ({% for st in comp.sport_types.all %}{% if st == comp.sport_types.all.last %}{{ st.title|lower }}{% else %}{{ st.title|lower }}, {% endif %}{% endfor %})
                    </p>
                    {% now 'j F Y' as today_str %}
                    <a href="{{ comp.get_absolute_url_entry }}" target="_blank"><input type="button" class="competition_block-btn" name="competition_block-btn_register" value="Подать заявку" {% if today_str == comp.start_date|date:"j F Y" %}disabled{% endif %}></a>
                    <a href="{{ comp.get_absolute_url_list }}" target="_blank"><input type="button" class="competition_block-btn" name="competition_block-btn_list" value="Список участников"></a>
                    <a href="{{ comp.get_absolute_url_protocol }}" target="_blank"><input type="button" class="competition_block-btn" name="competition_block-btn_protocol" value="Протокол соревнований"></a>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}