{% extends 'base.html' %}
{% load static %}
{% block title %}Нормативы{% endblock %}
{% block content %}
    <section id="standards">
        <div class="standards">
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Троеборье Женщины (экип.)</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>43</td><td></td><td></td><td>242.5</td><td>175</td><td>150</td><td>137.5</td><td>122.5</td><td>112.5</td><td>97.5</td></tr>
                        <tr><td>47</td><td>405</td><td>310</td><td>262.5</td><td>190</td><td>165</td><td>150</td><td>135</td><td>122.5</td><td>105</td></tr>
                        <tr><td>52</td><td>435</td><td>365</td><td>290</td><td>210</td><td>182.5</td><td>167.5</td><td>147.5</td><td>135</td><td>117.5</td></tr>
                        <tr><td>57</td><td>485</td><td>390</td><td>312.5</td><td>227.5</td><td>200</td><td>182.5</td><td>162.5</td><td>147.5</td><td>127.5</td></tr>
                        <tr><td>63</td><td>540</td><td>420</td><td>337.5</td><td>252.5</td><td>220</td><td>202.5</td><td>180</td><td>162.5</td><td>142.5</td></tr>
                        <tr><td>69</td><td>560</td><td>435</td><td>350</td><td>275</td><td>237.5</td><td>215</td><td>190</td><td>175</td><td>152.5</td></tr>
                        <tr><td>76</td><td>580</td><td>450</td><td>375</td><td>300</td><td>265</td><td>235</td><td>205</td><td>190</td><td>167.5</td></tr>
                        <tr><td>84</td><td>600</td><td>465</td><td>405</td><td>327.5</td><td>285</td><td>260</td><td>220</td><td>205</td><td>177.5</td></tr>
                        <tr><td>84+</td><td>620</td><td>480</td><td>422.5</td><td>352.5</td><td>320</td><td>285</td><td>235</td><td>217.5</td><td>192.5</td></tr>
                    </table>
                </div>
            </div>
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Троеборье Мужчины (экип.)</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>53</td><td></td><td></td><td>410</td><td>325</td><td>282.5</td><td>260</td><td>232.5</td><td>215</td><td>195</td></tr>
                        <tr><td>59</td><td>635</td><td>540</td><td>455</td><td>362.5</td><td>315</td><td>290</td><td>260</td><td>240</td><td>212.5</td></tr>
                        <tr><td>66</td><td>720</td><td>595</td><td>510</td><td>402.5</td><td>350</td><td>320</td><td>287.5</td><td>257.5</td><td>227.5</td></tr>
                        <tr><td>74</td><td>785</td><td>675</td><td>537.5</td><td>440</td><td>385</td><td>352.5</td><td>317.5</td><td>280</td><td>247.5</td></tr>
                        <tr><td>83</td><td>850</td><td>775</td><td>582.5</td><td>482.5</td><td>422.5</td><td>387.5</td><td>352.5</td><td>307.5</td><td>277.5</td></tr>
                        <tr><td>93</td><td>925</td><td>800</td><td>610</td><td>520</td><td>465</td><td>412.5</td><td>382.5</td><td>340</td><td>307.5</td></tr>
                        <tr><td>105</td><td>970</td><td>840</td><td>645</td><td>552.5</td><td>500</td><td>460</td><td>397.5</td><td>355</td><td>330</td></tr>
                        <tr><td>120</td><td>1005</td><td>875</td><td>687.5</td><td>600</td><td>530</td><td>497.5</td><td>422.5</td><td>372.5</td><td>347.5</td></tr>
                        <tr><td>120+</td><td>1035</td><td>890</td><td>735</td><td>617.5</td><td>545</td><td>510</td><td>455</td><td>390</td><td>372.5</td></tr>
                    </table>
                </div>
            </div>
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Троеборье классическое Женщины</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>43</td><td></td><td></td><td>170</td><td>145</td><td>125</td><td>115</td><td>105</td><td>97,5</td><td>90</td></tr>
                        <tr><td>47</td><td>335</td><td>270</td><td>210</td><td>170</td><td>145</td><td>125</td><td>115</td><td>105</td><td>97.5</td></tr>
                        <tr><td>52</td><td>370</td><td>300</td><td>245</td><td>195</td><td>170</td><td>145</td><td>125</td><td>115</td><td>105</td></tr>
                        <tr><td>57</td><td>390</td><td>325</td><td>275</td><td>205</td><td>185</td><td>165</td><td>145</td><td>125</td><td>115</td></tr>
                        <tr><td>63</td><td>422.5</td><td>350</td><td>305</td><td>230</td><td>200</td><td>180</td><td>160</td><td>140</td><td>125</td></tr>
                        <tr><td>69</td><td>440</td><td>365</td><td>320</td><td>252.5</td><td>222.5</td><td>190</td><td>170</td><td>150</td><td>137.5</td></tr>
                        <tr><td>76</td><td>457.5</td><td>385</td><td>340</td><td>277.5</td><td>242.5</td><td>210</td><td>190</td><td>170</td><td>150</td></tr>
                        <tr><td>84</td><td>475</td><td>395</td><td>350</td><td>295</td><td>255</td><td>220</td><td>200</td><td>180</td><td>160</td></tr>
                        <tr><td>84+</td><td>525</td><td>420</td><td>375</td><td>317.5</td><td>285</td><td>250</td><td>220</td><td>200</td><td>180</td></tr>
                    </table>
                </div>
            </div>
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Троеборье классическое Мужчины</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>53</td><td></td><td></td><td>340</td><td>300</td><td>265</td><td>240</td><td>215</td><td>200</td><td>185</td></tr>
                        <tr><td>59</td><td>545</td><td>465</td><td>385</td><td>340</td><td>300</td><td>275</td><td>245</td><td>225</td><td>205</td></tr>
                        <tr><td>66</td><td>620</td><td>525</td><td>425</td><td>380</td><td>335</td><td>305</td><td>270</td><td>245</td><td>215</td></tr>
                        <tr><td>74</td><td>685</td><td>580</td><td>460</td><td>415</td><td>365</td><td>325</td><td>295</td><td>260</td><td>230</td></tr>
                        <tr><td>83</td><td>750</td><td>640</td><td>500</td><td>455</td><td>400</td><td>350</td><td>320</td><td>290</td><td>255</td></tr>
                        <tr><td>93</td><td>785</td><td>690</td><td>540</td><td>480</td><td>430</td><td>385</td><td>345</td><td>315</td><td>275</td></tr>
                        <tr><td>105</td><td>822.5</td><td>720</td><td>585</td><td>510</td><td>460</td><td>415</td><td>370</td><td>330</td><td>300</td></tr>
                        <tr><td>120</td><td>855</td><td>770</td><td>635</td><td>555</td><td>505</td><td>455</td><td>395</td><td>355</td><td>325</td></tr>
                        <tr><td>120+</td><td>925</td><td>815</td><td>690</td><td>585</td><td>525</td><td>485</td><td>425</td><td>370</td><td>345</td></tr>
                    </table>
                </div>
            </div>
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Жим лёжа Женщины (экип.)</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>43</td><td></td><td></td><td>57.5</td><td>50</td><td>45</td><td>40</td><td>35</td><td>30</td><td>25</td></tr>
                        <tr><td>47</td><td>100</td><td>82.5</td><td>65</td><td>55</td><td>50</td><td>45</td><td>40</td><td>35</td><td>30</td></tr>
                        <tr><td>52</td><td>112.5</td><td>95</td><td>72.5</td><td>60</td><td>55</td><td>50</td><td>45</td><td>40</td><td>35</td></tr>
                        <tr><td>57</td><td>122.5</td><td>102.5</td><td>80</td><td>67.5</td><td>60</td><td>55</td><td>50</td><td>45</td><td>40</td></tr>
                        <tr><td>63</td><td>132.5</td><td>112.5</td><td>90</td><td>75</td><td>67.5</td><td>60</td><td>55</td><td>50</td><td>45</td></tr>
                        <tr><td>69</td><td>140</td><td>122.5</td><td>95</td><td>80</td><td>72.5</td><td>65</td><td>60</td><td>55</td><td>50</td></tr>
                        <tr><td>76</td><td>150</td><td>130</td><td>100</td><td>85</td><td>75</td><td>67.5</td><td>62.5</td><td>57.5</td><td>52.5</td></tr>
                        <tr><td>84</td><td>157.5</td><td>137.5</td><td>105</td><td>90</td><td>80</td><td>72.5</td><td>65</td><td>60</td><td>55</td></tr>
                        <tr><td>84+</td><td>172.5</td><td>145</td><td>112.5</td><td>95</td><td>85</td><td>77.5</td><td>70</td><td>65</td><td>60</td></tr>
                    </table>
                </div>
            </div>
            <div class="standards-table_div-block">
                <p class="stardards-table_title">Жим лёжа Мужчины (экип.)</p>
                <div class="standards-table_div">
                    <table class="stardards-table">
                        <tr><th>Весовая категория</th><th>МСМК</th><th>МС</th><th>КМС</th><th>I</th><th>II</th><th>III</th><th>I юн.</th><th>II юн.</th><th>III юн.</th></tr>
                        <tr><td>53</td><td></td><td></td><td>105</td><td>90</td><td>80</td><td>72.5</td><td>62.5</td><td>57.5</td><td>52.5</td></tr>
                        <tr><td>59</td><td>180</td><td>145</td><td>120</td><td>105</td><td>95</td><td>85</td><td>72.5</td><td>65</td><td>57.5</td></tr>
                        <tr><td>66</td><td>215</td><td>180</td><td>135</td><td>120</td><td>105</td><td>92.5</td><td>80</td><td>72.5</td><td>65</td></tr>
                        <tr><td>74</td><td>240</td><td>205</td><td>155</td><td>135</td><td>120</td><td>112.5</td><td>95</td><td>85</td><td>77.5</td></tr>
                        <tr><td>83</td><td>270</td><td>225</td><td>175</td><td>150</td><td>135</td><td>122.5</td><td>105</td><td>95</td><td>85</td></tr>
                        <tr><td>93</td><td>297.5</td><td>245</td><td>195</td><td>165</td><td>150</td><td>135</td><td>115</td><td>102.5</td><td>92.5</td></tr>
                        <tr><td>105</td><td>315</td><td>260</td><td>210</td><td>180</td><td>160</td><td>145</td><td>122.5</td><td>110</td><td>100</td></tr>
                        <tr><td>120</td><td>330</td><td>275</td><td>225</td><td>190</td><td>170</td><td>155</td><td>132.5</td><td>120</td><td>107.5</td></tr>
                        <tr><td>120+</td><td>345</td><td>290</td><td>240</td><td>205</td><td>180</td><td>165</td><td>140</td><td>127.5</td><td>115</td></tr>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <section id="standards-ann">
        <div class="standards-ann">
            <p class="standards-ann_text">МСМК выполняется с 17 лет, МС – с 16 лет, КМС – 14 лет, I-III спортивные разряды и юношеские спортивные разряды – с 12 лет.</p>
            <br>
            <p class="standards-ann_text">1. Норма МСМК выполняется:</p>
            <p class="standards-ann_text">1.1. На спортивных соревнованиях, имеющих статус не ниже статуса других международных спортивных соревнований, включенных в ЕКП. </p>
            <p class="standards-ann_text">2. Норма МС выполняется:</p>
            <p class="standards-ann_text">2.1. На спортивных соревнованиях, имеющих статус не ниже статуса чемпионата федерального округа, двух и более федеральных округов, чемпионатов г. Москвы и г. Санкт-Петербурга.</p>
            <p class="standards-ann_text">2.2. При присутствии на спортивном соревновании офицеров  РАА «РУСАДА».</p>
            <p class="standards-ann_text">2.3. При наличии на помосте трех спортивных судей, имеющих квалификационную категорию спортивного судьи «спортивный судья всероссийской категории».</p>
            <p class="standards-ann_text">2.4. При участии в виде программы не менее 6 спортсменов из трех  субъектов Российской Федерации (для чемпионатов г. Москвы, г. Санкт-Петербурга  не менее 6 спортсменов из г. Москвы или из г. Санкт-Петербурга соответственно).</p>
            <p class="standards-ann_text">3. Норма КМС выполняется:</p>
            <p class="standards-ann_text">3.1. На спортивных соревнованиях, имеющих статус не ниже статуса чемпионата субъекта Российской Федерации, а также на Всероссийских соревнованиях среди студентов, включенных в  ЕКП.</p>
            <p class="standards-ann_text">3.2. При наличии на помосте одного спортивного судьи, имеющего квалификационную категорию спортивного судьи «спортивный судья всероссийской категории», и двух спортивных судей, имеющих квалификационную категорию спортивного судьи «спортивный судья первой категории».</p>
            <p class="standards-ann_text">4. Нормы спортивных разрядов выполняются:</p>
            <p class="standards-ann_text">4.1. Норма I  спортивного разряда выполняется на спортивных соревнованиях, имеющих статус не ниже статуса других официальных спортивных соревнований субъекта Российской Федерации.</p>
            <p class="standards-ann_text">4.2. Нормы II-III спортивных  разрядов и юношеских  спортивных разрядов выполняются на официальных спортивных соревнованиях любого статуса.</p>
            <p class="standards-ann_text">5. Нормы в спортивных дисциплинах, содержащих в своих наименованиях слово «троеборье», выполняются только по сумме трех упражнений (приседание, жим лежа, становая тяга). </p>
            <p class="standards-ann_text">6. Спортивные соревнования, имеющие статус чемпионат мира, и спортивные соревнования более низкого статуса проводятся среди мужчин и женщин.</p>
            <p class="standards-ann_text">7. Первенства России, всероссийские спортивные соревнования, включенные в ЕКП, среди лиц с ограничением верхней границы возраста, первенства федерального округа, двух и более федеральных округов, первенства г. Москвы, г. Санкт-Петербурга, первенства субъекта Российской Федерации, другие официальные спортивные соревнования субъекта Российской Федерации среди лиц с ограничением верхней границы возраста проводятся в возрастных группах: юниоры, юниорки (19-23 года), юноши, девушки  (14-18 лет).</p>
            <p class="standards-ann_text">8. Первенства муниципального образования, другие официальные спортивные соревнования муниципального образования среди лиц с ограничением верхней границы возраста проводятся в возрастных группах: юниоры, юниорки (19-23 года), юноши, девушки (14-18 лет), мальчики, девочки (12-13 лет).</p>
            <p class="standards-ann_text">9. Первенство мира среди студентов, всероссийские соревнования среди студентов, включенные в ЕКП,  проводятся в возрастной группе: юниоры, юниорки (17-25 лет).</p>
            <p class="standards-ann_text">10. Для участия в спортивных соревнованиях спортсмен должен достичь установленного возраста в календарный год проведения спортивных соревнований.</p>
            <br>
            <p class="standards-ann_text">Сокращения, используемые в настоящих нормах и условиях их выполнения по виду спорта «пауэрлифтинг»:</p>
            <p class="standards-ann_text">МСМК – спортивное звание «мастер спорта России международного класса»;</p>
            <p class="standards-ann_text">МС –  спортивное звание «мастер спорта России»;</p>
            <p class="standards-ann_text">КМС –  спортивный разряд «кандидат в мастера спорта»;</p>
            <p class="standards-ann_text">I –  первый;</p>
            <p class="standards-ann_text">II – второй;</p>
            <p class="standards-ann_text">III –  третий;</p>
            <p class="standards-ann_text">ЕКП – Единый календарный план межрегиональных, всероссийских и международных физкультурных мероприятий и спортивных мероприятий;</p>
            <p class="standards-ann_text">М – мужской пол;</p>
            <p class="standards-ann_text">Ж –  женский пол;</p>
            <p class="standards-ann_text">РАА «РУСАДА» – Ассоциация российское антидопинговое агентство «Русада».</p>
        </div>
    </section>
{% endblock %}